/*------- Chat  --------*/
.chat {
    background: #F2F5F8;
    color: #434651;
    overflow-y: auto;
    margin: 0;
    padding: 0 0 50px 0;
    margin-top: 60px;
    margin-bottom: 10px;
    height: 85vh;
}

.chat .chat-history {
    padding: 30px 20px 0px 0px;
    height: 575px;
}

.message {
    padding: 0.5rem;
    overflow: hidden;
    display: flex;
    color: white;
    background: #94C2ED;
    padding: 1.1rem;
    border-radius: 7px;
    margin-top: 30px
}

.yellow-message {
    padding: 0.5rem;
    overflow: hidden;
    display: flex;
    color: white;
    background: darkblue;
    padding: 1.1rem;
    border-radius: 7px;
    margin-top: 30px
}

ul {
    list-style-type: none;
}

.pre-scrollable {
    max-height: 70vh;
    overflow-y: scroll;
}

.big-black-arrow {
    font-size: 40px
}

/*Custom cards*/
.custom-price-card {
    display: inline-block;
    background-color: black;
    text-align: center;
    border: 1px solid silver;
    border-radius: 8px;
    margin-right: 2px;
    line-height: 1;
    position: relative;
    width: 43px;
    font-size: 40px;
    font-weight: bold;
}