.chat {
  background: #f2f5f8;
  color: #434651;
  overflow-y: auto;
  margin: 0;
  padding: 0 0 50px 0;
  margin-top: 60px;
  margin-bottom: 10px;
  height: 85vh;
}
.chat .chat-history {
  padding: 30px 20px 0 0;
  height: 575px;
}
.my-message {
  padding: 0.5rem;
  overflow: hidden;
  display: flex;
  color: #fff;
  background: #00008b;
  padding: 1.1rem;
  border-radius: 7px;
  margin-top: 30px;
}
.other-message {
  padding: 0.5rem;
  overflow: hidden;
  display: flex;
  color: #fff;
  background: #94c2ed;
  padding: 1.1rem;
  border-radius: 7px;
  margin-top: 30px;
}
.highest-bid-message {
  padding: 0.5rem;
  overflow: hidden;
  display: flex;
  color: #fff;
  background: green;
  padding: 1.1rem;
  border-radius: 7px;
  margin-top: 30px;
}
ul {
  list-style-type: none;
}
.pre-scrollable {
  max-height: 70vh;
  overflow-y: scroll;
}
.big-black-arrow {
  font-size: 40px;
}
