@model ItemCreateBindingModel

@{
    ViewData["Title"] = "Create item listing";
}

<div class="container">
    <div class="text-center w-md-75 w-lg-50 mx-auto my-4">
        <h2>@ViewData["Title"]</h2>
        <form method="post" id="createForm">
            <hr/>
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title"></label>
                <input class="form-control" asp-for="Title" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description"></label>
                <textarea class="form-control" asp-for="Description"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartTime"></label>
                <input id="startTime" class="form-control"/>
                <input id="startTimeSubmit" type="hidden" asp-for="StartTime"/>
                <span asp-validation-for="StartTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndTime"></label>
                <input id="endTime" class="form-control"/>
                <input id="endTimeSubmit" type="hidden" asp-for="EndTime"/>
                <span asp-validation-for="EndTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartingPrice"></label>
                <input class="form-control" asp-for="StartingPrice"
                       type="number" placeholder="$300" value="" step="0.01" min="0.01"/>
                <span asp-validation-for="StartingPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MinIncrease"></label>
                <input class="form-control" asp-for="MinIncrease"
                     type="number" placeholder="$10" value="" step="0.01" min="0.01"/>
                <span asp-validation-for="MinIncrease" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SubCategoryId"></label>
                <select class="form-control custom-select" title="Select item category..."
                        id="model" asp-for="SubCategoryId" asp-items="Model.SubCategories">
                </select>
                <span asp-validation-for="SubCategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Create</button>
            </div>
        </form>
    </div>
</div>

@section CustomCss {
    <link href="~/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
}

@section Scripts {
    <script src="~/js/bootstrap-datetimepicker.min.js"></script>

    <script>
        $('#startTime, #endTime').datetimepicker({
            format: 'DD/MM/YYYY HH:mm',
            minDate: moment(),
            icons: {
                time: 'fas fa-clock'
            }
        });

        $('#createForm').submit(function() {
            $('#startTimeSubmit').val(moment($('#startTime').val(), 'DD/MM/YYYY HH:mm').utc().format());
            $('#endTimeSubmit').val(moment($('#endTime').val(), 'DD/MM/YYYY HH:mm').utc().format());
        });
    </script>
}
