.error-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 80vh;
}

.error-box .error-heading {
  color: dimgray;
  font-size: 5em;
}
