@using AuctionSystem.Models
@using Microsoft.AspNetCore.Identity
@inject SignInManager<AuctionUser> SignInManager
@inject UserManager<AuctionUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
        <ul class="navbar-nav">
            
            <li class="nav-item">
                <a class="btn btn-outline-primary mr-3" asp-area="" asp-controller="Items" asp-action="Create">Add item</a>
            </li>
            
            <li class="nav-item dropdown auto-dropdown">
                <a class="nav-link dropdown-toggle" href="#"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-user-circle"></i>
                </a>
                <div class="dropdown-menu">
                    <h5 class="dropdown-header">
                        @User.Identity.Name
                    </h5>
                    <a class="dropdown-item" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">My Account</a>
                    <a class="dropdown-item" asp-area="Admin" asp-controller="Users" asp-action="Index">All users</a>
                    <a class="dropdown-item" asp-controller="Items" asp-action="Index">My Items</a>
                    <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new {area = ""})">
                        <button type="submit" class="btn btn-link text-danger dropdown-item ">Logout</button>
                    </form>
                </div>
            </li>
        </ul>
}
else
{
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    </ul>
}
