html {
    position: relative;
    min-height: 100%;
}

@media (min-width: 768px) {
    .w-md-75 {
        width: 75% !important;
    }

    .w-md-50 {
        width: 50% !important;
    }

    .w-md-25 {
        width: 25% !important;
    }
}

@media (min-width: 992px) {
    .w-lg-75 {
        width: 75% !important;
    }

    .w-lg-50 {
        width: 50% !important;
    }

    .w-lg-25 {
        width: 25% !important;
    }
}

.card-img-listing {
    width: 100%;
    height: 30vh;
    object-fit: cover;
}

.text-red {
    color: red
}

.text-gray {
    color: gray;
}

.primary-picture {
    float: left;
    overflow: hidden;
    height: 100%;
    max-width: calc((100% / 3) * 2);
    text-align: center;
    display: block;
    border-right: 1px solid grey;
    position: relative;
}

.secondary-picture {
    position: relative;
    overflow: hidden;
    height: 50%;
    max-width: calc(100% / 3);
    display: inline-block;
    border-bottom: 1px solid grey;
}

.error-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 80vh;
}

.error-box .error-heading{
    color: dimgray;
    font-size: 5em;
}

ul {
    list-style-type: none;
}
