@media (min-width: 768px) {
    .w-md-75 {
        width: 75% !important;
    }

    .w-md-50 {
        width: 50% !important;
    }

    .w-md-25 {
        width: 25% !important;
    }
}

@media (min-width: 992px) {
    .w-lg-75 {
        width: 75% !important;
    }

    .w-lg-50 {
        width: 50% !important;
    }

    .w-lg-25 {
        width: 25% !important;
    }
}

.card-img-listing {
    width: 100%;
    height: 30vh;
    object-fit: cover;
}

.text-red {
    color: red
}

.text-gray {
    color: gray;
}

.custom-card-color {
    background: #fbf6f4;
}

/*------- Chat  --------*/
.chat {
    background: #F2F5F8;
    color: #434651;
    overflow-y: auto;
    margin: 0;
    padding: 0 0 50px 0;
    margin-top: 60px;
    margin-bottom: 10px;
    height: 85vh;
}

    .chat .chat-history {
        padding: 30px 20px 0px 0px;
        height: 575px;
    }

.message {
    padding: 0.5rem;
    overflow: hidden;
    display: flex;
    color: white;
    background: #94C2ED;
    padding: 1.1rem;
    border-radius: 7px;
    margin-top: 30px
}

.yellow-message {
    padding: 0.5rem;
    overflow: hidden;
    display: flex;
    color: white;
    background: darkblue;
    padding: 1.1rem;
    border-radius: 7px;
    margin-top: 30px
}

ul {
    list-style-type: none;
}

.pre-scrollable {
    max-height: 70vh;
    overflow-y: scroll;
}

.big-black-arrow {
    font-size: 40px
}

/*Custom cards*/
.custom-price-card {
    display: inline-block;
    background-color: black;
    text-align: center;
    border: 1px solid silver;
    border-radius: 8px;
    margin-right: 2px;
    line-height: 1;
    position: relative;
    width: 43px;
    font-size: 40px;
    font-weight: bold;
}

.images-carousel {
    position: relative;
    margin-top: 10px;
    margin-right: -10px;
    padding-bottom: 26px;
}

    .images-carousel ul li {
        padding-right: 10px;
    }

    .images-carousel:before {
        content: '';
        width: 10px;
        height: 100%;
        position: absolute;
        display: block;
        top: 0;
        right: 0;
        background-color: #ffffff;
        z-index: 1;
    }

    .images-carousel .slick-next {
        right: 30px;
    }

    .images-carousel .slick-dots {
        margin-top: 30px;
        position: absolute;
    }

        .images-carousel .slick-dots li {
            width: 8px;
            height: 8px;
        }

    .images-carousel .slick-slider li {
        position: relative;
    }

    .images-carousel .slick-slider .slick-slide a:before {
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        background: #ffffff;
        -moz-opacity: 0.56;
        -khtml-opacity: 0.56;
        -webkit-opacity: 0.56;
        opacity: 0.56;
        -moz-transition: opacity 0.2s linear;
        -o-transition: opacity 0.2s linear;
        -webkit-transition: opacity 0.2s linear;
        transition: opacity 0.2s linear;
    }

    .images-carousel .slick-slider .slick-slide div:before {
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        background: #ffffff;
        -moz-opacity: 0.56;
        -khtml-opacity: 0.56;
        -webkit-opacity: 0.56;
        opacity: 0.56;
        -moz-transition: opacity 0.2s linear;
        -o-transition: opacity 0.2s linear;
        -webkit-transition: opacity 0.2s linear;
        transition: opacity 0.2s linear;
    }

    .images-carousel .slick-slider .slick-slide:hover a:before,
    .images-carousel .slick-slider .slick-slide:hover div:before,
    .images-carousel .slick-slider .slick-slide .zoomGalleryActive:before {
        -moz-opacity: 0;
        -khtml-opacity: 0;
        -webkit-opacity: 0;
        opacity: 0;
    }


.tt-mobile-product-layout {
    margin-top: 30px;
    position: relative;
}

.tt-product-single-img {
    position: relative;
}

img {
    max-width: 100%;
    height: auto;
}
