@model IEnumerable<CategoryViewModel>
@{
    ViewData["Title"] = "Home Page";
}

<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container">
        <ul class="nav">
            @foreach (var category in Model)
            {
                <li class="dropdown nav-item">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">@category.Name<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <ul class="dropdown-menu sub-menu">
                                @foreach (var subCategory in category.SubCategories)
                                {
                                    <li><a href="#">@subCategory.Name</a></li>
                                }
                            </ul>
                        </li>
                    </ul>
                </li>
            }
        </ul>
    </div>
</nav>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@section Scripts{

    <script>
        $('ul.nav li.dropdown').hover(function () {
            $(this).find('.dropdown-menu').stop(true, true).delay(200).fadeIn();
        }, function () {
            $(this).find('.dropdown-menu').stop(true, true).delay(200).fadeOut();
        });
    </script>
}
